<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store Admin</title>
    <link rel="icon" href="http://localhost:5000/images/shoes-store-logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css1/adminlogin.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <%- include('../partials/adminheader.ejs') %>

    <style>

    .table-data{
      font-weight: 600;
    }
    .image-container {
    position: relative;
    }
    .image-container img {
    transition: transform 0.3s ease-in-out;
    }
    .image-container:hover img {
    transform: scale(2.5); /* Adjust the scale value as needed */
    }

    </style> 

    <section class="first-footer" style="border-bottom: 2px solid #000;">
        <footer class="text-center text-white" style="background-color: #ffffff;">
          <div class="container p-4 pb-0">
            <section class="">
              <p class="d-flex justify-content-center">
                <span class="me-3" style="color:black; font-weight:bold; font-size:200%; margin-right: 1120px; margin-top: 15px;">ADMIN/PRODUCT</span>
              </p>
            </section>
          </div>
        </footer>
    </section>
    
    
        
            <div class="row flex-nowrap">
                
              <%- include('../partials/adminsidebar.ejs') %>


              <!--Modal for confirmation-->
              <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to List/Unlist this Product?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-warning" id="confirmActionBtn">Confirm</button>
                    </div>
                  </div>
                </div>
              </div>       


                <div class="container mt-4">
                  <div class="d-flex justify-content-between mb-4">
                    <div class="d-flex align-items-center">
                      <input type="text" id="searchInput" class="form-control form-control mr-2" style="width: 250px;" placeholder="Search Products..." />
                      <button type="button" class="btn btn-dark" id="searchButton">Search</button>
                      <div class="d-flex align-items-center">
                        <a href="/addproduct"><button type="button" class="btn btn-primary text-nowrap" id="searchButton" style="margin-left:650px; margin-top: 5px;">ADD PRODUCT</button></a>
                      </div>
                    </div>
                    <div id="suggestionsList" class="suggestions-list"></div>    
                  </div>
                  <table class="table table-bordered table-thick">
                    <thead class="thead-dark">
                      <tr>
                        <th class="text-center">PRODUCT</th>
                        <th class="text-center">CATEGORY</th>
                        <th class="text-center">BRAND</th>
                        <th class="text-center">QUANTITY</th>
                        <th class="text-center">PRICE</th>
                        <th class="text-center">GENDER</th>
                        <th class="text-center">IMAGE</th>
                        <th class="text-center">EDIT</th>
                        <th class="text-center">LIST/UNLIST</th>
                      </tr>
                    </thead>
                    <tbody id="userTableBody">
                      <% products.forEach(product => { %>
                      <tr>
                        <td class="editable table-data text-center" data-field="productname"><%= product.productName %></td>
                        <td class="table-data text-center"><%= product.category.categoryName %></td>  
                        <td class="table-data text-center"><%= product.brand %></td>   
                        <td class="table-data text-center"><%= product.quantity %></td>                                              
                        <td class="table-data text-center">₹<%= product.price %></td> 
                        <td class="table-data text-center"><%= product.gender %></td>                                             
                        <td>
                          <div class="image-container text-center">
                          <img src='/uploads/<%= product.image[0] %>' style="width:80px; height:80px;">
                          </div>
                        </td>
                        <td class="text-center">
                          <a href="/editproduct/<%= product._id %>"><button type="button" class="btn btn-warning block-btn" data-product-id="<%= product._id %>">Edit</button></a>                          
                        </td>
                        <td class="text-center">
                          <% if (product.isActive == true) { %>
                            <button type="button" class="btn btn-success block-btn" data-toggle="modal" data-target="#confirmationModal" data-product-id="<%= product._id %>" data-action-url="/admin/product-list/<%= product._id %>">List</button>
                          <% } else if(product.isActive==false) { %>
                            <button type="button" class="btn btn-danger block-btn" data-toggle="modal" data-target="#confirmationModal" data-product-id="<%= product._id %>" data-action-url="/admin/product-unlist/<%= product._id %>">Unlist</button>
                          <% } %>
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                  <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                      <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                          <a class="page-link" href="/product?page=<%= i %>"><%= i %></a>
                        </li>
                      <% } %>
                    </ul>
                  </nav>
              </div>
            </div>
            
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
            <script>
            
            //product search button
            $(document).ready(function () {
              $('#searchButton').on('click', function () {
                searchUser();
              });
              $('#searchInput').on('input', function () {
                searchUser();
              });
             });
             function searchUser() {
              const searchInputValue = $('#searchInput').val().toLowerCase().trim();
              const tableRows = $('#userTableBody tr');
              tableRows.each(function () {
                const username = $(this).find('.editable[data-field="productname"]').text().toLowerCase();
                const isVisible = username.includes(searchInputValue) || searchInputValue === '';
                $(this).css('display', isVisible ? '' : 'none');
              });
            }

            //Modal script

           $(document).ready(function () {
            // Handle button click
             $('.block-btn').click(function () {
             const productId = $(this).data('product-id');
             const actionUrl = $(this).data('action-url');
             $('#confirmActionBtn').data('product-id', productId);
             $('#confirmActionBtn').data('action-url', actionUrl);
           });

           // Handle "Confirm" button click in modal
            $('#confirmActionBtn').click(function () {
            const productId = $(this).data('product-id');
            const actionUrl = $(this).data('action-url');
            // Perform the action by submitting the form or making an AJAX request
            // Redirect to the appropriate URL after action completion
            window.location.href = actionUrl;
           });
          });

          //sweatalert script create product
          function showSuccessMessage() {
             Swal.fire({
             icon: 'success',
             title: 'Product Created Successfully',
             showConfirmButton: false,
             timer: 2000,
            });
            history.pushState(null, null, '/product');
          }

          // Check if the "success" query parameter is present in the URL
           const urlParams = new URLSearchParams(window.location.search);
           if (urlParams.has('success') && urlParams.get('success') === 'true') {
           // Call the custom function to display the success message
           showSuccessMessage();
        }

        //sweatalert script update product
        function showUpdateMessage() {
             Swal.fire({
             icon: 'success',
             title: 'Product Updated Successfully',
             showConfirmButton: false,
             timer: 2000,
            });
            history.pushState(null, null, '/product');
          }
          

          // Check if the "success" query parameter is present in the URL
           const urlParams1 = new URLSearchParams(window.location.search);
           if (urlParams1.has('success') && urlParams1.get('success') === 'false') {
           // Call the custom function to display the success message
           showUpdateMessage();
          }

          
          </script>
    
    
      <%- include('../partials/adminfooter.ejs') %>