<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css1/adminlogin.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

    <%- include('../partials/adminheader.ejs') %>

    <style>
        .table-data{
          font-weight: 600;
        }
       
  </style>

    <section class="first-footer" style="border-bottom: 2px solid #000;">
        <footer class="text-center text-white" style="background-color: #ffffff;">
          <div class="container p-4 pb-0">
            <section class="">
              <p class="d-flex justify-content-center">
                <span class="me-3" style="color:black; font-weight:bold; font-size:200%; margin-right: 1120px; margin-top: 15px;">ADMIN/ORDERS</span>
              </p>
            </section>
          </div>
        </footer>
    </section>
    
    
        
            <div class="row flex-nowrap">
                
              <%- include('../partials/adminsidebar.ejs') %>


                <div class="container mt-4">
                  <table class="table table-bordered table-thick">
                    <thead class="thead-dark">
                      <tr>
                        <th>ORDER ID</th>
                        <th>ORDER ITEM</th>
                        <th>AMOUNT</th>
                        <th>ADDRESS</th>
                        <th>ORDER DATE</th>
                        <th>STATUS</th>
                      </tr>
                    </thead>
                    <tbody id="userTableBody">
                      <% orders.forEach(order=> { %>
                      <tr> 
                        <td class="table-data">#<%= order._id.toString().slice(0, 9) %></td>
                        <td class="table-data">
                            <% order.products.forEach(product => { %>
                              <a href="/adminOrderdetails/<%= order._id %>">
                                <img src="/uploads/<%= product.productId.image[0] %>" style="width:80px; height:80px;">
                                </a>
                                <h6><%= product.productId.productName %></h6>
                              <% }) %>                      
                        </td>      
                        <td class="table-data">₹<%= order.totalPrice %></td>                                                         
                        <td class="table-data">
                            <h6><%= order.address[0].firstName %> <%= order.address[0].lastName %></h6>
                            <h6><%= order.address[0].address %></h6>  
                            <h6><%= order.address[0].town %>,<%= order.address[0].district %>-<%= order.address[0].pincode %></h6>
                            <h6><%= order.address[0].state %></h6>              
                        </td> 
                        <td class="table-data"><%= order.orderDate ? order.orderDate.toISOString().split('T')[0] : '' %></td>                                             
                        <td class="table-data">
                          <div class="input-group">
                              <select id="statusSelect" class="form-select" data-order-id="<%= order._id %>">
                                  <option value="<%= order.orderStatus %>"><%= order.orderStatus %></option>
                                  <option value="Pending">Pending</option>
                                  <option value="Shipped">Shipped</option>
                                  <option value="Delivered">Delivered</option>
                                  <option value="Canceled">Canceled</option>
                                  <option value="Refunded">Refunded</option>
                                  <option value="Returned">Returned</option>
                                  <option value="Payment Failed">Payment Failed</option>
                              </select>
                          </div>
                        </td>                                
                      </tr>
                      <% }); %> 
                    </tbody>
                  </table>
                  <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                <a class="page-link" href="/adminorder?page=<%= i %>" style="text-align:center;"><%= i %></a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            </div>
            
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

        <script>

        const statusSelect = document.getElementById('statusSelect');
        statusSelect.addEventListener('change', () => {
        const newStatus = statusSelect.value;
        const orderId = statusSelect.getAttribute('data-order-id');
        const data = { status: newStatus, orderId: orderId };
        fetch('/update-order-status', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
      })
      .then((response) => {
      if (response.ok) {
        console.log('Status updated successfully');
        } else {
        console.error('Error updating status');
        }
      })
      .catch((error) => {
        console.error('Fetch error:', error);
      });
    });

      </script>
    
      <%- include('../partials/adminfooter.ejs') %>