<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoeStore - Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css1/adminlogin.css">
</head>
<body>
    <%- include('../partials/adminheader.ejs') %>

    <section class="first-footer" style="border-bottom: 2px solid #000;">
        <footer class="text-center text-white" style="background-color: #ffffff;">
          <div class="container p-4 pb-0">
            <section class="">
              <p class="d-flex justify-content-center">
                <span class="me-3" style="color:black; font-weight:bold; font-size:200%; margin-right: 1180px; margin-top: 15px;">ADMIN/USERS</span>
              </p>
            </section>
          </div>
        </footer>
    </section>
    
    
    
            <div class="row flex-nowrap">
                
              <%- include('../partials/adminsidebar.ejs') %>

                <div class="container mt-4">
                  <div class="d-flex justify-content-between mb-4" style="margin-top: 20px;">
                    <div class="d-flex align-items-center">
                      <input type="text" id="searchInput" class="form-control mr-2" placeholder="Search user..." />
                      <button type="button" class="btn btn-dark" id="searchButton">Search</button>
                    </div>
                    <div id="suggestionsList" class="suggestions-list"></div>    
                  </div>
                  <table class="table table-bordered table-thick" style="margin-top: 80px;">
                    <thead class="thead-dark">
                      <tr>
                        <th>USERNAME</th>
                        <th>MOBILE</th>
                        <th>EMAIL</th>
                        <th>BLOCK</th>
                      </tr>
                    </thead>
                    <tbody id="userTableBody">
                      <% users.forEach(user => { %>
                        <tr>
                          <td class="editable" data-field="username"><%= user.firstName %></td>
                          <td><%= user.mobileNumber %></td>
                          <td><%= user.email %></td>
                          <td>
                            <% if (user.blocked == false) { %>
                              <form action="/admin/block-user/<%= user._id %>" method="POST">
                                <button type="submit" class="btn btn-success block-btn" data-user-id="<%= user._id %>" style="width:90px; height:40px;">Block</button>
                              </form>
                            <% } else if(user.blocked==true) { %>
                              <form action="/admin/unblock-user/<%= user._id %>" method="POST">
                                <button type="submit" class="btn btn-danger block-btn" data-user-id="<%= user._id %>" style="width:90px; height:40px;">Unblock</button>
                              </form>
                            <% } %>
                          </td>
                        </tr>
                      <% }); %>
                    </tbody>
                  </table>
              </div>

            </div>
            
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
            <script>
            $(document).ready(function () {
              $('#searchButton').on('click', function () {
                searchUser();
              });
              $('#searchInput').on('input', function () {
                searchUser();
              });
             });
             function searchUser() {
              const searchInputValue = $('#searchInput').val().toLowerCase().trim();
              const tableRows = $('#userTableBody tr');
              tableRows.each(function () {
                const username = $(this).find('.editable[data-field="username"]').text().toLowerCase();
                const isVisible = username.includes(searchInputValue) || searchInputValue === '';
                $(this).css('display', isVisible ? '' : 'none');
              });
            }
          
          </script>
          
    
      <%- include('../partials/adminfooter.ejs') %>

