<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store Admin</title>
    <link rel="icon" href="http://localhost:5000/images/shoes-store-logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css1/adminlogin.css">
</head>
<body>
    <%- include('../partials/adminheader.ejs') %>

    <section class="first-footer" style="border-bottom: 2px solid #000;">
        <footer class="text-center text-white" style="background-color: #ffffff;">
          <div class="container p-4 pb-0">
            <section class="">
              <p class="d-flex justify-content-center text-nowrap">
                <span class="me-3" style="color:black; font-weight:bold; font-size:200%; margin-right: 1030px; margin-top: 15px;">ADMIN/DASHBOARD</span>
              </p>
            </section>
          </div>
        </footer>
    </section>
    
    
        
    <div class="row flex-nowrap">
      <!-- Include the sidebar -->
      <%- include('../partials/adminsidebar.ejs') %>
  
      <div class="ml-5" style="width: 350px; height:250px;">
          <div class="total-stat with-box-shadow mt-3">
              <h4>TOTAL USERS</h4>
              <p class="font-weight-bold" id="totalUsersCount"><%= usersCount %></p>
          </div>
          <div class="col-md-12 text-center mt-5">
            <a href="/salesReport"><button class="btn btn-primary btn-block mt-3 font-weight-bold" style="height: 60px;">Full Sales Report</button></a>
          </div>
          <div class="" style="width: 350px; margin-top: 100px;">
            <canvas id="myChart1"></canvas>
          </div>
      </div>
      <div class="ml-5" style="width: 350px; height:250px;">
          <div class="total-stat with-box-shadow mt-3">
              <h4>TOTAL ORDERS</h4>
              <p class="font-weight-bold" id="totalOrdersCount"><%= orderCount %></p>
          </div>
          <div class="date-filter mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-4 form-group" style="margin-left: 250px;">
                        <input class="with-box-shadow" type="date" id="startDate" name="startDate" style="height: 10px;" placeholder="Start Date">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-4 form-group" style="margin-left: 250px;">                        
                        <input class="with-box-shadow" type="date" id="endDate" name="endDate" style="height: 10px;" placeholder="End Date">
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center" style="margin-left: 250px;">
                <button class="btn btn-dark" id="fetchRevenueBtn">Revenue</button>
              </div>
            </div>
          </div>
          <div class="ml-5 mt-5" style="width: 700px;">
            <canvas id="myChart2"></canvas>
          </div>
      </div>
      <div class="ml-5" style="width: 350px; height:250px;">
          <div class="total-stat with-box-shadow mt-3">
              <h4>TOTAL REVENUE</h4>
              <p class="font-weight-bold" id="totalRevenueAmount">₹<%= totalRevenue %></p>
          </div>
      </div>
    </div>
  
  

          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

          <script>


        
        //order payment method graph
        fetch('/payment-method')
         .then((response)=>response.json())
         .then((data)=>{
            const ctx1 = document.getElementById('myChart1');
            const chart1=new Chart(ctx1, {
              type: 'pie',
              data: {
                labels: ['Wallet', 'Online Payment','Cash on delivery'],
                datasets: [{
                  label: '',
                  data: [data.walletPayment,data.onlinePayment,data.cashOnDelivery],
                  backgroundColor: [
                  'rgba(245, 30, 95, 0.8)',
                  'rgba(13, 92, 216, 0.8)',
                  'rgba(13, 216, 104, 0.8)'
                  ],
                  borderWidth: 1
                }]
              },
              
            });
          })
          .catch((error)=>{
            console.error('Error fetching user stats:',error)
          })

        
  let chart2
  //total revenue graph
  fetch('/total-revenue')
  .then((response) => response.json())
  .then((data) => {
    const revenueData = [];
    for (const year in data) {
      for (let month = 0; month < 12; month++) {
        const revenue = data[year][month] || 0;
        revenueData.push(revenue);
      }
    }
    const ctx2 = document.getElementById('myChart2');
    chart2=new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        datasets: [
          {
            label: 'Revenue',
            data: revenueData,
            backgroundColor: ['rgba(245, 30, 95, 0.8)'],
            borderWidth: 1,
          },
        ],
      },
    });
  })
  .catch((error) => {
    console.error('Error fetching revenue data:', error);
  });


  //fetch revenue based date
  const fetchRevenueBtn=document.getElementById('fetchRevenueBtn')
  fetchRevenueBtn.addEventListener('click',function(){
    const startDate=document.getElementById('startDate').value
    const endDate=document.getElementById('endDate').value
    fetch('/show-revenue',{
      method:'POST',
      headers:{
        'Content-Type':'application/json'
      },
      body:JSON.stringify({startDate:startDate,endDate:endDate})
    })
    .then((response)=>response.json())
    .then((data)=>{
      chart2.data.datasets[0].data=[]
      for (const year in data) {
       for (let month = 0; month < 12; month++) {
        const revenue = data[year][month] || 0;
        chart2.data.datasets[0].data.push(revenue)
      }
    }
    chart2.update();
    })
    .catch((error)=>{
      console.error('Error fetching revenue data:',error)
    })
  })


   </script>

    
      <%- include('../partials/adminfooter.ejs') %>