<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css1/adminlogin.css">
</head>
<body>
    <%- include('../partials/adminheader.ejs') %>

    <section class="first-footer" style="border-bottom: 2px solid #000;">
        <footer class="text-center text-white" style="background-color: #ffffff;">
          <div class="container p-4 pb-0">
            <section class="">
              <p class="d-flex justify-content-center text-nowrap">
                <span class="me-3" style="color:black; font-weight:bold; font-size:200%; margin-right: 1030px; margin-top: 15px;">ADMIN/DASHBOARD</span>
              </p>
            </section>
          </div>
        </footer>
    </section>
    
    
        
    <div class="row flex-nowrap">
      <!-- Include the sidebar -->
      <%- include('../partials/adminsidebar.ejs') %>
  
      <div class="ml-5" style="width: 350px; height:250px;">
          <div class="total-stat with-box-shadow mt-3">
              <h4>Total Users</h4>
              <p id="totalUsersCount"><%= usersCount %></p>
          </div>
          <div class="mt-5" style="width: 350px;">
            <canvas id="myChart1"></canvas>
          </div>
          <div class="date-filter">
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-4 form-group">
                        <label for="startDate" class="font-weight-bold">Start Date</label>
                        <input class="with-box-shadow" type="date" id="startDate" name="startDate">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-4 form-group">
                        <label for="endDate" class="font-weight-bold">End Date</label>
                        <input class="with-box-shadow" type="date" id="endDate" name="endDate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-dark">Download Sales Report</button>
                </div>
            </div>
          </div>
      </div>
      <div class="ml-5" style="width: 350px; height:250px;">
          <div class="total-stat with-box-shadow mt-3">
              <h4>Total Orders</h4>
              <p id="totalOrdersCount"><%= orderCount %></p>
          </div>
          <div class="ml-5 mt-5" style="width: 700px;">
            <canvas id="myChart2"></canvas>
          </div>
      </div>
      <div class="ml-5" style="width: 350px; height:250px;">
          <div class="total-stat with-box-shadow mt-3">
              <h4>Total Revenue</h4>
              <p id="totalRevenueAmount">₹<%= revenue %></p>
          </div>
      </div>
    </div>
  
  

          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

          <script>

            const ctx1 = document.getElementById('myChart1');
          
            new Chart(ctx1, {
              type: 'pie',
              data: {
                labels: ['Red', 'Blue'],
                datasets: [{
                  label: '',
                  data: [17, 19],
                  backgroundColor: [
                  'rgba(0, 207, 140, 0.8)',
                  'rgba(255, 99, 132, 01)'
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });


            const ctx2 = document.getElementById('myChart2');
          
            new Chart(ctx2, {
              type: 'bar',
              data: {
                labels: ['Order', 'Revenue'],
                datasets: [{
                  label: '',
                  data: [12, 19],
                  backgroundColor: [
                  'rgba(255, 99, 132, 01)',
                  ],
                  borderColor: [
                 'rgb(255, 99, 132)',
                ],
                  borderWidth: 2
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });

          </script>

    
      <%- include('../partials/adminfooter.ejs') %>