<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css1/adminlogin.css">
</head>
<body>

    <style>

.custom-modal-dialog {
    width: 30vw;
    height: 35vw;
}
.custom-modal-dialog .modal-content {
    width: 100%;
    height: 100%;
}

    </style>

    <%- include('../partials/adminheader.ejs') %>

    <section class="first-footer" style="border-bottom: 2px solid #000;">
        <footer class="text-center text-white" style="background-color: #ffffff;">
          <div class="container p-4 pb-0">
            <section class="">
              <p class="d-flex justify-content-center text-nowrap">
                <span class="me-3" style="color:black; font-weight:bold; font-size:200%; margin-right: 1030px; margin-top: 15px;">ADMIN/EDIT PRODUCT</span>
              </p>
            </section>
          </div>
        </footer>
    </section>
    
    
        
            <div class="row flex-nowrap">
                
              <%- include('../partials/adminsidebar.ejs') %>


          <!-- Modal for More Images -->
          <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog custom-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" id="carouselContainer">
                                <% product.image.forEach((img, index) => { %>
                                    <div class="text-center carousel-item<%= index === 0 ? ' active' : '' %>" id="carouselItem<%= index %>">
                                        <img src="/uploads/<%= img %>" alt="Image <%= index + 1 %>" style="width: 430px; height: 500px;">
                                    </div>
                                <% }); %>
                            </div>
                            
                            
                            
                            <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>                    
            </div>
          </div>
         </div>


              <div class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-md-8">
                        <div class="card" style="background-color: #DFDFDF; height:1050px;">
                            <div class="card-header" style="background-color: #DFDFDF; color:black">
                                <h3 class="text-center">EDIT PRODUCT</h3>
                            </div>
                            <div class="card-body">
                                <form action="/editproduct/<%= product._id %>" method="post" enctype="multipart/form-data" id="editProductForm">
                                    <div class="form-row">
                                        <div class="col d-flex justify-content-center align-items-center">
                                            <% if(locals.alert){ %>
                                                <p class="alert alert-danger text-center"><%= locals.alert %></p>
                                            <% } %>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="firstName" style="font-weight: 600;">PRODUCT NAME</label>
                                            <input type="text" value="<%= product.productName %>" name="productName" class="form-control" id="firstName" placeholder="" style="border-radius: 1em;">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="category" style="font-weight: 600;">CATEGORY</label>
                                            <select name="category" class="form-control" id="category" style="border-radius: 1em;">
                                                <% categories.forEach(category => { %>
                                                    <option value="<%= category._id %>" <% if (product.category && product.category.toString() === category._id.toString()) { %>selected<% } %>><%= category.categoryName %></option>
                                                    <% }); %>
                                            </select>
                                        </div>                                        
                                        <div class="form-group col-md-6">
                                            <label for="price" style="font-weight: 600;">PRICE</label>
                                            <input type="number" value="<%= product.price %>" name="price" class="form-control" id="price" placeholder="" style="border-radius: 1em;">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="quantity" style="font-weight: 600;">QUANTITY</label>
                                            <input type="number" value="<%= product.quantity %>" name="quantity" class="form-control" id="quantity" placeholder="" style="border-radius: 1em;" min="1">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="mobileNumber" style="font-weight: 600;">BRAND</label>
                                            <input type="text" value="<%= product.brand %>" name="brand" class="form-control" id="mobileNumber" placeholder="" style="border-radius: 1em;">
                                        </div>
                                    </div> 
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="firstName" style="font-weight: 600;">DESCRIPTION</label>
                                            <textarea name="description" class="form-control" value="" id="description" rows="4" placeholder="" style="border-radius: 1em;"><%= product.description %></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                            <label for="firstName" style="font-weight: 600;">IMAGE</label>
                                            <input name="image" type="file" id="imageInput" multiple accept="image/*">
                                            <div id="imagePreview" data-toggle="modal" data-target="#imageModal">
                                                <img src="/uploads/<%= product.image[0] %>" alt="Image Preview" class="preview-image" style="width:150px; height:150px;">
                                            </div>
                                        </div>
                                        
                                                
                                        
                                        <div class="form-group col-md-3">
                                            <label for="size" style="font-weight: 600;">SIZE</label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="size6" name="size" value="6" <% if (product.size === 6) { %>checked<% } %> style="width: 1.5rem; height: 1.5rem;">
                                                <label class="form-check-label" for="size6" style="font-size: 1.2rem; margin-left: 1rem;">6</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="size7" name="size" value="7" <% if (product.size === 7) { %>checked<% } %> style="width: 1.5rem; height: 1.5rem;">
                                                <label class="form-check-label" for="size7" style="font-size: 1.2rem; margin-left: 1rem;">7</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="size8" name="size" value="8" <% if (product.size === 8) { %>checked<% } %> style="width: 1.5rem; height: 1.5rem;">
                                                <label class="form-check-label" for="size8" style="font-size: 1.2rem; margin-left: 1rem;">8</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="size9" name="size" value="9" <% if (product.size === 9) { %>checked<% } %> style="width: 1.5rem; height: 1.5rem;">
                                                <label class="form-check-label" for="size9" style="font-size: 1.2rem; margin-left: 1rem;">9</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="size10" name="size" value="10" <% if (product.size === 10) { %>checked<% } %> style="width: 1.5rem; height: 1.5rem;">
                                                <label class="form-check-label" for="size10" style="font-size: 1.2rem; margin-left: 1rem;">10</label>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        <div class="form-group col-md-4">
                                            <label for="color" style="font-weight: 600;">COLOR</label>
                                            <div class="form-group">
                                                <select class="form-control" id="color" name="color">
                                                    <option value="black" <%= product.color === 'black' ? 'selected' : '' %>>BLACK</option>
                                                    <option value="blue" <%= product.color === 'blue' ? 'selected' : '' %>>BLUE</option>
                                                    <option value="pink" <%= product.color === 'pink' ? 'selected' : '' %>>PINK</option>
                                                    <option value="purple" <%= product.color === 'purple' ? 'selected' : '' %>>PURPLE</option>
                                                    <option value="skyblue" <%= product.color === 'skyblue' ? 'selected' : '' %>>SKY BLUE</option>
                                                    <option value="white" <%= product.color === 'white' ? 'selected' : '' %>>WHITE</option>
                                                    <option value="red" <%= product.color === 'red' ? 'selected' : '' %>>RED</option>
                                                    <option value="brown" <%= product.color === 'brown' ? 'selected' : '' %>>BROWN</option>
                                                </select>
                                            </div>
                                            <div class="color-preview" style="margin-top: 8px; padding: 10px; border: 1px solid #ccc; background-color: <%= product.color %> ; display: inline-block; width:70px; height:70px; ">
                                            </div>
                                        </div>                                        
                                    </div> 
                                    <div class="form-row" style="margin-top: 10px;">
                                        <div class="form-group col-md-4">
                                            <label for="firstName" style="font-weight: 600;">GENDER</label>                                  
                                            <div class="form-check">
                                                <input class="form-check-input" value="men" type="radio" name="gender" id="men" <% if (product.gender === "men") { %>checked<% } %> style="width: 20px; height: 20px;">
                                                <label class="form-check-label" for="men" style="font-size: 15px; margin-left: 10px;">MEN</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" value="women" type="radio" name="gender" id="women" <% if (product.gender === "women") { %>checked<% } %> style="width: 20px; height: 20px;">
                                                <label class="form-check-label" for="women" style="font-size: 15px; margin-left: 10px;">WOMEN</label>
                                            </div>                                                                            
                                        </div>
                                    </div> 
                                    <button type="submit" class="btn btn-success mx-auto d-block" style="margin-top: 20px;">UPDATE PRODUCT</button>                              
                                </form>                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>  


            </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>

            //image
            const imageInput = document.getElementById('imageInput');
            const imagePreview = document.getElementById('imagePreview');
            imageInput.addEventListener('change', function () {
            const file = imageInput.files[0];

            if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
            imagePreview.src = e.target.result;
            imagePreview.style.display = 'block';
            };

            reader.readAsDataURL(file);
            } else {
            imagePreview.src = '';
            imagePreview.style.display = 'none';
            }
          });

          $(document).ready(function() {
        // Event handler for the color select input
        $('#color').change(function() {
            const selectedColor = $(this).val();
            
            $('.color-preview').css('background-color', selectedColor);
        });
    });


    //to set price is non-negative integer
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('editProductForm'); // Replace 'yourFormId' with the actual ID of your form

        form.addEventListener('submit', function(event) {
            const priceInput = document.getElementById('price');
            const priceValue = parseFloat(priceInput.value);

            if (isNaN(priceValue) || priceValue < 0) {
                event.preventDefault(); // Prevent form submission
                alert('Price must be a non-negative number.');
            }
        });
    });

    //show the newly selected images
    document.getElementById('imageInput').addEventListener('change', function(event) {
    const imagePreview = document.getElementById('imagePreview');
    const carouselContainer = document.getElementById('carouselContainer');

    // Clear the existing image preview and carousel items
    imagePreview.innerHTML = '';
    carouselContainer.innerHTML = '';

    // Loop through selected images to display them in the image preview and carousel
    const imgPreview = document.createElement('img');
        imgPreview.src = URL.createObjectURL(event.target.files[0]);
        imgPreview.alt = `Image ${0}`;
        imgPreview.style.width = '150px';
        imgPreview.style.height = '150px';

        // Add the new image to the image preview
        imagePreview.appendChild(imgPreview);

    for (let i = 0; i < event.target.files.length; i++) {
        const file = event.target.files[i];

        // Create a new image element for the image preview
        
        // Create a new image element for the carousel
        const imgCarousel = document.createElement('img');
        imgCarousel.src = URL.createObjectURL(file);
        imgCarousel.alt = `Image ${i + 1}`;
        imgCarousel.style.width = '430px';
        imgCarousel.style.height = '500px';

        // Add the new image to the carousel
        const carouselItem = document.createElement('div');
        carouselItem.classList.add('text-center', 'carousel-item');
        if (i === 0) {
            carouselItem.classList.add('active');
        }
        carouselItem.appendChild(imgCarousel);
        carouselContainer.appendChild(carouselItem);
    }
});

        </script>
            

      <%- include('../partials/adminfooter.ejs') %>