<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css1/adminlogin.css">
    <link href="path/to/toastr.min.css" rel="stylesheet">

</head>
<body>
    <%- include('../partials/adminheader.ejs') %>

    <section class="first-footer" style="border-bottom: 2px solid #000;">
        <footer class="text-center text-white" style="background-color: #ffffff;">
          <div class="container p-4 pb-0">
            <section class="">
              <p class="d-flex justify-content-center text-nowrap">
                <span class="me-3" style="color:black; font-weight:bold; font-size:200%; margin-right: 1030px; margin-top: 15px;">ADMIN/EDIT COUPON</span>
              </p>
            </section>
          </div>
        </footer>
    </section>
    
    
        
            <div class="row flex-nowrap">
                
              <%- include('../partials/adminsidebar.ejs') %>

              <div class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-md-8">
                        <div class="card" style="background-color: #DFDFDF; height:680px;">
                            <div class="card-header" style="background-color: #DFDFDF; color:black">
                                <h3 class="text-center">EDIT COUPON</h3>
                            </div>
                            <div class="card-body">
                                <form action="/editcoupon/<%= coupon._id %>" method="post">
                                    <div class="form-row">
                                        <div class="col d-flex justify-content-center align-items-center">
                                            <% if(locals.alert){ %>
                                                <p class="alert alert-danger"><%= locals.alert %></p>
                                            <% } %>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="coupon" style="font-weight: 600;">COUPON CODE</label>
                                            <input type="text" name="couponCode" class="form-control" id="coupon" placeholder="" style="border-radius: 1em;" value="<%= coupon.couponCode %>">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="date" style="font-weight: 600;">CREATED AT</label>
                                            <input type="date" name="createdAt" class="form-control" id="date" placeholder="" style="border-radius: 1em;" value="<%= coupon.createdAt ? coupon.createdAt.toISOString().split('T')[0] : '' %>">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="date" style="font-weight: 600;">EXPIRY DATE</label>
                                            <input type="date" name="expiryDate" class="form-control" id="date" placeholder="" style="border-radius: 1em;" value="<%= coupon.expiryDate ? coupon.expiryDate.toISOString().split('T')[0] : '' %>">
                                        </div>                                  
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="price" style="font-weight: 600;">COUPON PRICE</label>
                                            <input type="number" name="price" class="form-control" id="price" placeholder="" style="border-radius: 1em;" min="1" value="<%= coupon.price %>">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="purchaseAmount" style="font-weight: 600;">PURCHASE AMOUNT</label>
                                            <input type="number" name="purchaseAmount" class="form-control" id="purchaseAmount" placeholder="" style="border-radius: 1em;" min="1" value="<%= coupon.purchaseAmount %>">
                                        </div>                              
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="firstName" style="font-weight: 600;">DESCRIPTION</label>
                                            <textarea type="text" name="description" class="form-control" id="description" rows="4" placeholder="" style="border-radius: 1em;"><%= coupon.description %></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success mx-auto d-block" style="margin-top: 20px;">UPDATE COUPON</button>                              
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  


            </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="path/to/toastr.min.js"></script>
        <script>



        </script>
            

      <%- include('../partials/adminfooter.ejs') %>