<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/address.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css1/userlogin.css">
</head>
<body>

    <%- include('../partials/header.ejs') %>


    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
        <a class="nav-link  ms-0" href="/profile" target="__blank">Profile</a>
        <a class="nav-link" href="/orders" target="__blank">Orders</a>
        <a class="nav-link " href="/changepassword" target="__blank">Change Password</a>
        <a class="nav-link active" href="/address" target="__blank">Saved Addresses</a>
        <a class="nav-link" href="/wallet" target="__blank">Wallet</a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card mb-4">
                    <div class="card-header">
                        <span class="font-weight-bolder">Saved Addresses</span>
                        <button class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#addAddress">+ New Address</button>
                      </div>
                      <div class="card-body">
                        <div class="row">
                            <% addressDetails.forEach((address, index) => { %>
                                <div class="col-md-6 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Address <%= index + 1 %></h5>
                                            <p class="card-text">Address : <%= address.address %></p>
                                            <p class="card-text">Town : <%= address.town %></p>
                                            <p class="card-text">Pincode : <%= address.pincode %></p>
                                            <p class="card-text">District : <%= address.district %></p>
                                            <p class="card-text">State : <%= address.state %></p>
                                            <p class="card-text">Country : <%= address.country %></p>
                                            <div class="form-check" style="position: absolute; top: 10px; right: 10px;">
                                                <input type="radio" class="form-check-input set-default-address" name="defaultAddress" data-address-id="<%= address._id %>">
                                                <label class="form-check-label">Select Address</label>
                                            </div>                                                                                                                         
                                            <div class="btn-group" role="group">
                                                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#editAddressModal<%= index %>">Edit</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                    <button type="submit" class="btn btn-danger ml-2" data-toggle="modal" data-target="#deleteAddressModal<%= index %>">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Modal for delete User Address-->
                                <div class="modal fade" id="deleteAddressModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="logoutModalLabel">Confirm Delete Address</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          Are you sure you want to delete address?
                                        </div>
                                        <div class="modal-footer">
                                          <form action="/deleteaddress/<%= address._id %>" method="GET">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                          <button class="btn btn-warning" type="submit">DELETE</button>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>   
                                  
                                  <!--edit address modal-->
                                  <div class="modal fade" id="editAddressModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="editDetailsModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editDetailsModalLabel">Change Address</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Duplicate the user details form here -->
                                                <form action="/editaddress/<%= address._id %>" method="POST">
                                                    <div class="row gx-3 mb-3">
                                                        <!-- Form Group (first name)-->
                                                        <div class="col-md-6">
                                                            <label class="small mb-1" for="address">Address</label>
                                                            <input name="address" class="form-control" id="address" type="text" placeholder="" value="<%= address.address %>">
                                                        </div>
                                                        <!-- Form Group (last name)-->
                                                        <div class="col-md-6">
                                                            <label class="small mb-1" for="town">Town</label>
                                                            <input name="town" class="form-control" id="town" type="text" placeholder="" value="<%= address.town %>">
                                                        </div>
                                                    </div>
                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-md-6">
                                                            <label class="small mb-1" for="pincode">Pin Code/Zip Code</label>
                                                            <input name="pincode" class="form-control" id="pincode" type="" placeholder="" value="<%= address.pincode %>">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="small mb-1" for="district">District</label>
                                                            <input name="district" class="form-control" id="district" type="text" placeholder="" value="<%= address.district %>">
                                                        </div>
                                                    </div>
                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-md-6">
                                                            <label class="small mb-1" for="state">State</label>
                                                            <input name="state" class="form-control" id="state" type="text" placeholder="" value="<%= address.state %>">
                                                        </div>                            
                                                        <div class="col-md-6">
                                                            <label class="small mb-1" for="country">Country</label>
                                                            <input name="country" class="form-control" id="country" type="text" placeholder="" value="<%= address.country %>">
                                                        </div>                     
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit" class="btn btn-primary" onclick="updateAddress()">Update Address</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

 
                            <% }); %>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--create address modal-->
    <div class="modal fade" id="addAddress" tabindex="-1" role="dialog" aria-labelledby="editDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDetailsModalLabel">Create New Address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Duplicate the user details form here -->
                    <form action="/address" method="POST">
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="address">Address</label>
                                <input name="address" class="form-control" id="address" type="text" placeholder="" value="">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="town">Town</label>
                                <input name="town" class="form-control" id="town" type="text" placeholder="" value="">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="pincode">Pin Code/Zip Code</label>
                                <input name="pincode" class="form-control" id="pincode" type="number" placeholder="" value="">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="district">District</label>
                                <input name="district" class="form-control" id="district" type="text" placeholder="" value="">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="state">State</label>
                                <input name="state" class="form-control" id="state" type="text" placeholder="" value="">
                            </div>                            
                            <div class="col-md-6">
                                <label class="small mb-1" for="country">Country</label>
                                <input name="country" class="form-control" id="country" type="text" placeholder="" value="">
                            </div>                     
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" onclick="createAddress()">Create Address</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

const radioButtons = document.querySelectorAll('.set-default-address');

radioButtons.forEach((radioButton) => {
    radioButton.addEventListener('click', function () {
        const addressId = this.getAttribute('data-address-id');

        // Send an AJAX request to set the address as default
        fetch(`/set-default-address/${addressId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then((response) => response.json())
        .then((data) => {
            if (data.success) {
                // Optionally, update the UI to indicate the selected default address
                Swal.fire({
                    icon: 'success',
                    text: 'Address selected successfully',
                })
            } else {
                alert('Failed');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
});

//sweatalert for create address
function createAddress(){
    Swal.fire({
    icon:'success',
	title:'Address created successfully',
    timer:2000,
    showConfirmButton:false
	})
   }

//sweatalert for update address
function updateAddress(){
    Swal.fire({
    icon:'success',
	title:'Address updated successfully',
    timer:2000,
    showConfirmButton:false
	})
   }


</script>
    
    
</body>
</html>