<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoes Store Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
	
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

	<link rel="stylesheet" href="/css1/userlogin.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  </head>
  <body class="goto-here">
		
    <%- include('../partials/header.ejs') %>

    
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href=""></a></span> <span></span></p>
            <h1 class="mb-0 bread" style="font-weight:600;">MY CART</h1>
          </div>
        </div>
      </div>
    

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
							  <% cartItems.forEach(item=>{ %>
						      <tr class="text-center">
						        <td class="product-remove"><a href="/cart" onclick="cartRemove('<%= item.product._id %>')"><span class="ion-ios-close"></span></a></td>

						        <td class="image-prod"><img src='/uploads/<%= item.product.image %>' style="width:80px; height:80px;"></td>
						        
						        <td class="product-name">
						        	<h3><%= item.product.productName %></h3>
						        	
						        </td>
						        
						        <td class="price">₹<%= item.product.price %></td>
						        
						        <td class="quantity" id="product<%= item.product._id %>">
									<form class="input-group">
									  <div class="input-group-prepend">
										<button class="btn btn-outline-secondary btn-lg" id="decrease<%= item.product._id %>" onclick="decreaseValue('<%= item.product._id %>')" type="button">-</button>
									  </div>
									  <input class="form-control input-sm" type="number" id="number<%= item.product._id %>" value="1" min="1" max="<%= item.product.quantity %>" readonly>
									  <div class="input-group-append">
										<button class="btn btn-outline-secondary btn-lg" id="increase<%= item.product._id %>" onclick="increaseValue('<%= item.product._id %>')" type="button">+</button>
									  </div>
									</form>
								  </td>
								  
										
								
						        
								  <td class="total">₹<span id="totalAmount<%= item.product._id %>"></span></td>


							</tr>
							<% }); %>
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-start">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span>₹20.60</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>₹0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>₹3.00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>₹17.60</span>
    					</p>
    				</div>
    				<p class="text-center"><a href="/checkout" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    			</div>
    		</div>
			</div>
		</section>


    <script>


		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
         
		//product remove from the cart
		async function cartRemove(productId){
			await fetch(`/removecart/${productId}`).then(res=>res.json()).then(data=>{
				if(data.data=='Product removed from the cart successfully'){
					Swal.fire({
					icon:'success',
					title:'Product removed from the cart successfully',
					timer:2000
					})
				}
			})
		}

		function updateTotalAmount(productId) {
  var quantityInput = document.getElementById('number' + productId);
  var priceElement = document.getElementById('totalAmount' + productId);
  var productPrice = parseFloat(priceElement.dataset.price);

  if (!isNaN(productPrice)) {
    var quantity = parseInt(quantityInput.value);
    var totalPrice = quantity * productPrice;
    
    if (!isNaN(totalPrice)) {
      priceElement.innerText = '₹' + totalPrice.toFixed(2);
    } else {
      console.error('Failed to calculate total price. Invalid quantity or product price.');
    }
  } else {
    console.error('Invalid product price.');
  }
}


	  //increase product quantity
      function increaseValue(productId) {
      var quantityInput = document.getElementById('number' + productId);
      var currentValue = parseInt(quantityInput.value);
      var maxQuantity = parseInt(quantityInput.getAttribute('max'));

      if (currentValue < maxQuantity) {
        quantityInput.value = currentValue + 1;
        updateTotalAmount(productId);
      }
    }

	//decrease product quantity
    function decreaseValue(productId) {
       var quantityInput = document.getElementById('number' + productId);
       var currentValue = parseInt(quantityInput.value);
       var minQuantity = parseInt(quantityInput.getAttribute('min'));

      if (currentValue > minQuantity) {
        quantityInput.value = currentValue - 1;
        updateTotalAmount(productId);
     }
    }


	</script>
    

	<%- include('../partials/homefooter.ejs') %>