<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoes Store Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    <link rel="stylesheet" href="css1/userlogin.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  </head>
  <body class="goto-here">

    <%- include('../partials/header.ejs') %>
    
    <section id="home-section" class="hero">
		  <div class="home-slider owl-carousel bg-white">
	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
	          	<img class="one-third order-md-last img-fluid" style="height:100%; width:100%;" src="/images/4-collins-x-air-max.gif" alt="">
		          <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          </div>
	        	</div>
	        </div>
	      </div>
		
	    </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-4 py-md-5">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-bag"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
              </div>
            </div>      
          </div>
          <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-4 py-md-5">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support Customer</h3>
              </div>
            </div>    
          </div>
          <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-4 py-md-5">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-payment-security"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Secure Payments</h3>
              </div>
            </div>      
          </div>
        </div>
	  </div>
	</section>

	<div class="container">
		<div class="row">
			<% banners.forEach(banner => { %>
				<div class="col-md-12 banner-slide">
					<a href="/products">
						<img src="/uploads/<%= banner.bannerImage %>" class="img-fluid" alt="" style="height: 100%; width:100%;">
					</a>
				</div>
			<% }) %>
		</div>
	</div>

    <section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">New Shoes Arrival</h2>
          </div>
        </div>   		
    	</div>
    	<div class="container">
    		<div class="row">			
                <% products.forEach(product=>{ %>
    			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
    				<div class="product">
    					<a href="/userproduct/<%= product._id %>" class="img-prod"><img class="img-fluid" src="/uploads/<%= product.image[0] %>" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3" style="margin-top: 56px;">
    						<div class="d-flex">
    							<div class="cat">
		    						<span><%= product.category.categoryName %></span>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right mb-0">
	    								<a href="#"><span class="ion-ios-star-outline"></span></a>
	    								<a href="#"><span class="ion-ios-star-outline"></span></a>
	    								<a href="#"><span class="ion-ios-star-outline"></span></a>
	    								<a href="#"><span class="ion-ios-star-outline"></span></a>
	    								<a href="#"><span class="ion-ios-star-outline"></span></a>
	    							</p>
	    						</div>
	    					</div>
    						<h3><a href="#"><%= product.productName %></a></h3>
							<div class="cat">
								<span style="color: black;"><%= product.gender %></span>
							</div>
  							<div class="pricing">
	    						<p class="price"><span>₹<%= product.price %></span></p>
	    					</div>
	    					<p class="bottom-area d-flex px-3">
    							<a href="#" class="add-to-cart text-center py-2 mr-1" onclick="addToCart('<%= product._id %>')"><span>Add to cart <i class="ion-ios-cart ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2" onclick="addToWishlist('<%= product._id %>')">Wishlist<span><i class="ion-ios-add ml-1"></i></span></a>
    						</p>
    					</div>
    				</div>
    			</div>
				<% }); %>
    		</div>
    	</div>
    </section>

    <section id="home-section" class="hero">
		<div class="home-slider owl-carousel bg-white">
		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
		  <div class="container-fluid p-0">
			<div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
				<img class="one-third order-md-last img-fluid" style="height: 700px; width:1600px;" src="images/FA23_BrandClassics_SportLow_Purple_HPBanner_1420x568.jpeg" alt="">
				<div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
				</div>
			  </div>
		  </div>
		</div>
	  
	  </div>
  </section>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>

	//add the product to the cart
	async function addToCart(productId){
		await fetch(`/addcart/${productId}`).then(res=>res.json()).then(data=>{
			if(data.data=='Product added to the cart successfully'){
				Swal.fire({
				icon:'success',
				title:'Product added to cart successfully',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}else if(data.data=='Already added this product to cart.'){
                Swal.fire({
				icon:'warning',
				title:'Already added this product to cart.',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}
		})
	}

	//add the product to the wishlist
	async function addToWishlist(productId){
		await fetch(`/addwishlist/${productId}`).then(res=>res.json()).then(data=>{
			if(data.data=='Product added to the wishlist successfully'){
				Swal.fire({
				icon:'success',
				title:'Product added to wishlist successfully',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}else if(data.data=='Already added this product to wishlist.'){
                Swal.fire({
				icon:'warning',
				title:'Already added this product to wishlist.',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}
		})
	}

	//banner image carousel
	const bannerSlides = document.querySelectorAll('.banner-slide');
    let currentSlide = 0;
    function showNextSlide() {
        bannerSlides[currentSlide].style.display = 'none';
        currentSlide = (currentSlide + 1) % bannerSlides.length;
        bannerSlides[currentSlide].style.display = 'block';
    }
    // Automatically change slide every 5 seconds (5000 milliseconds)
    setInterval(showNextSlide, 5000);

	
	</script>

	<%- include('../partials/homefooter.ejs') %>
    