<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/orders.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css1/userlogin.css">
</head>
<body>

    <%- include('../partials/header.ejs') %>
    
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link  ms-0" href="/profile" target="__blank">Profile</a>
        <a class="nav-link active" href="/orders" target="__blank">Orders</a>
        <a class="nav-link" href="/changepassword" target="__blank">Change Password</a>
        <a class="nav-link" href="/address" target="__blank">Saved Addresses</a>
        <a class="nav-link" href="/wallet" target="__blank">Wallet</a>
    </nav>
    <hr class="mt-0 mb-4">

    <!-- Billing history card-->
    <div class="card mb-4">
        <div class="card-header font-weight-bolder">Order History</div>
        <div class="card-body p-0">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200 text-center" scope="col">Order ID</th>
                            <th class="border-gray-200 text-center" scope="col">product</th>
                            <th class="border-gray-200 text-center" scope="col">Date</th>
                            <th class="border-gray-200 text-center" scope="col">Amount</th>
                            <th class="border-gray-200 text-center" scope="col">Status</th>
                            <th class="border-gray-200 text-center" scope="col">Cancel/Return</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order=> {  %>
                        <tr>
                            <td class="table-data text-center">#<%= order._id.toString().slice(0, 9) %></td>
                            <td class="text-center">
                                <% order.products.forEach(product => { %>
                                    <a href="/orderdetails/<%= order._id %>">
                                      <img src="/uploads/<%= product.productId.image[0] %>" style="width:80px; height:80px;">
                                    </a>
                                    <h6><%= product.productId.productName %></h6>
                                  <% }) %>                      
                            </td>
                            <td class="table-data text-center"><%= order.orderDate ? order.orderDate.toISOString().split('T')[0] : '' %></td>
                            <td class="table-data text-center">₹<%= order.totalPrice %></span></td>
                            <td class="table-data text-center"><%= order.orderStatus %></td>
                            <% if(order.orderStatus==='order confirmed') { %>
                            <td class="table-data text-center"><button type="button" class="btn btn-warning cancel-button" data-order-id="<%= order._id %>">Cancel</button></td>
                            <% } %>
                            <% if(order.orderStatus==='Delivered') { %>
                            <td class="table-data text-center"><button type="button" class="btn btn-warning return-button" data-order-id="<%= order._id %>">Return</button></td>
                            <% } %>
                            <% if(order.orderStatus==='Refunded' || order.orderStatus==='Returned' || order.orderStatus==='confirm return') { %>
                            <td class="table-data text-center"><button type="button" class="btn btn-warning disabled">Return</button></td>
                            <% } %>
                            <% if(order.orderStatus==='Pending' || order.orderStatus==='out for delivery' || order.orderStatus==='Shipped' || order.orderStatus==='Canceled' || order.orderStatus==='Payment Failed') { %>
                            <td class="table-data text-center"><button type="button" class="btn btn-warning disabled">Cancel</button></td>
                            <% } %>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                      <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                          <a class="page-link" href="/orders?page=<%= i %>"><%= i %></a>
                        </li>
                      <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>


    //cancel order button
    document.addEventListener('DOMContentLoaded',function(){
        const cancelButtons=document.querySelectorAll('.cancel-button')
        cancelButtons.forEach(function(button){
            button.addEventListener('click',function(){
                const orderId=button.getAttribute('data-order-id')

                Swal.fire({
                title: 'Confirm Order Cancellation',
                text: 'Are you sure you want to cancel this order?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, Cancel Order'
            }).then((result) => {
                if (result.isConfirmed){
                    fetch(`/cancel-order/${orderId}`,{
                        method:'POST',
                    })
                    .then(response=>response.json())
                    .then(data=>{
                        window.location.href='/orders'
                    })
                    .catch(error=>{
                        alert('Error cancelling the order:'+error.message);
                    })
                }
            })
          })
        })
    })

    //return order button
    document.addEventListener('DOMContentLoaded',function(){
        const returnButtons=document.querySelectorAll('.return-button')
        returnButtons.forEach(function(button){
            button.addEventListener('click',function(){
                const orderId=button.getAttribute('data-order-id')

               Swal.fire({
                title: 'Confirm Return',
                text: 'Are you sure you want to return this Product?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, Return Product'
            }).then((result) => {
                if (result.isConfirmed){
                    fetch(`/return-order/${orderId}`,{
                        method:'POST',
                    })
                    .then(response=>response.json())
                    .then(data=>{
                        window.location.href='/orders'
                    })
                    .catch(error=>{
                        alert('Error returning the order:'+error.message)
                    })
                }
            })
          })
        })
    })


  </script>
</body>
</html>