<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoes Store Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/css1/userlogin.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  </head>
  <body class="goto-here">
		
    <%- include('../partials/header.ejs') %>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5  d-flex">
					<div class="image-gallery d-flex flex-column h-100">
					  <% for(let i = 0; i < product.image.length; i++) { %>
						<!-- <a href="#" class="img-gallery"> -->
						  <img src="/uploads/<%= product.image[i] %>" alt="Image <%= i %>" class="img-fluid gallery-image pt-1 pr-1" width="100px"   data-index="<%= i %>">
						<!-- </a> -->
					  <% } %>
					</div>
					<div class="big-image prod-img-bg w-75">
						<img src="/uploads/<%= product.image[0] %>" width="100%" style="object-fit: cover;" class="img-fluid main-image" alt="Colorlib Template">	
					 </div>
				  </div>

    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h1><%= product.productName %></h1>
    				<h2 class="price mt-4">₹<%= product.price %><span></span></h2>
					<h5 class="mt-3"><%= product.gender %></h5>
    				<p class="mt-4"><%= product.description %></p>
						<div class="row mt-4">
							<h6 class="mt-2 ml-3">SIZE</h6>
							<div class="col-md-6">
								<div class="form-group d-flex">
									<div class="select-wrap">
										<select name="" id="" class="form-control">
										  <option value="<%= product.size %>"><%= product.size %></option>
										</select>
									  </div>
									  <h6 class="mt-2 ml-4">COLOR</h6>
										<span class="color-box" style="background-color: <%= product.color %>;"></span>
									  
		            </div>
					</div>
							
	          	<div class="w-100"></div>
	          	<div class="col-md-12">
					<% if(product.quantity==='0') { %>
					<p class="font-weight-bold" style="color: #ff0202">Product is out of stock</p>
                     <% }else{ %>
	          		<p style="color: #000000;"><%= product.quantity %> pieces available</p>
					<% } %>
	          	</div>
          	</div>
          	<p>
				<% if(product.quantity==='0') { %>
				 <a href="#" class="btn btn-black disabled py-3 px-5 mr-2" id="addToCartButton" onclick="addToCart('<%= product._id %>')">Add to Cart</a>
                <% }else{ %>
                 <a href="#" class="btn btn-black py-3 px-5 mr-2" id="addToCartButton" onclick="addToCart('<%= product._id %>')">Add to Cart</a>
				<% } %>
				<% if(product.quantity==='0') { %>
                 <a href="#" class="btn btn-primary disabled py-3 px-5" onclick="addToWishlist('<%= product._id %>')">Wishlist</a>
				<% }else{ %>
				 <a href="#" class="btn btn-primary py-3 px-5" onclick="addToWishlist('<%= product._id %>')">Wishlist</a>
				<% } %>

          </p>
    			</div>
			

    		</div> 


    		<div class="row mt-5">
				<div class="col-md-12 nav-link-wrap">
					<div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					  <a class="nav-link ftco-animate mr-lg-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Description</a>
					  <a class="nav-link ftco-animate mr-lg-1" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Manufacturer</a>
					  <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Details</a>
					</div>
				  </div>
				<div class="col-md-12 tab-wrap">
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
							<div class="p-4">
								<h3 class="mb-4"><%= product.productName %></h3>
								<p><%= product.description %></p>
							</div>
						</div>
						<div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
							<div class="p-4">
								<h3 class="mb-4">Manufactured By <%= product.brand %></h3>
							</div>
						</div>
						<div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
							<div class="p-4">
								<h3 class="mb-4"><%= product.productName %></h3>
								<p><%= product.description %></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			  

    	</div>
    </section>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

   //add to cart modal
   async function addToCart(productId){
		await fetch(`/addcart/${productId}`).then(res=>res.json()).then(data=>{
			if(data.data=='Product added to the cart successfully'){
				Swal.fire({
				icon:'success',
				title:'Product added to cart successfully',
				timer:2000,
				showConfirmButton: false,
				position: 'top'
				})
			}else if(data.data=='Already added this product to cart'){
        Swal.fire({
				icon:'warning',
				title:'Already added this product to cart',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}
		})
	 }

	 //add the product to the wishlist
	async function addToWishlist(productId){
		await fetch(`/addwishlist/${productId}`).then(res=>res.json()).then(data=>{
			if(data.data=='Product added to the wishlist successfully'){
				Swal.fire({
				icon:'success',
				title:'Product added to wishlist successfully',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}else if(data.data=='Already added this product to wishlist'){
                Swal.fire({
				icon:'warning',
				title:'Already added this product to wishlist',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}
		})
	}

 // JavaScript to change the main image when a smaller image is clicked
const galleryImages = document.querySelectorAll('.gallery-image');
const mainImage = document.querySelector('.main-image');

galleryImages.forEach((image) => {
  image.addEventListener('click', () => {
    const selectedImageSrc = image.getAttribute('src');
    mainImage.src = selectedImageSrc;
  });
});

// JavaScript to open the zoomed version of the main image
mainImage.addEventListener('click', () => {
  const mainImageSrc = mainImage.getAttribute('src');
  window.open(mainImageSrc, '_blank'); // Open the image in a new tab or window
});



	</script>

		

   <%- include('../partials/homefooter.ejs') %>