<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoes Store Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

	<link rel="stylesheet" href="css1/userlogin.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  </head>
  <body class="goto-here">
    
    <%- include('../partials/header.ejs') %>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-lg-10 order-md-last">
    				<div class="row">
						<% products.forEach(product => { %>
						<% if (product.isActive) { %>
		    			<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
		    				<div class="product d-flex flex-column">
		    					<a href="/userproduct/<%= product._id %>" class="img-prod"><img class="img-fluid" src="uploads/<%= product.image[0] %>" alt="Colorlib Template">
		    						<div class="overlay"></div>
		    					</a>
		    					<div class="text py-3 pb-4 px-3" style="margin-top: 56px;">
		    						<div class="d-flex">
		    							<div class="cat" style="font-weight: bolder;">
				    						<span><%= product.category.categoryName %></span>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right mb-0">
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    							</p>
			    						</div>
			    					</div>
		    						<h3><a href="#"><%= product.productName %></a></h3>
									<div class="cat">
										<span style="color: black;"><%= product.gender %></span>
									</div>
		    						<div class="pricing">
			    						<p class="price"><span>₹<%= product.price %></span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
		    							<a href="#" class="add-to-cart text-center py-2 mr-1" onclick="addToCart('<%= product._id %>')"><span>Add to cart <i class="ion-ios-cart ml-1"></i></span></a>
										<a href="#" class="buy-now text-center py-2" onclick="addToWishlist('<%= product._id %>')">Wishlist<span><i class="ion-ios-add ml-1"></i></span></a>
									</p>
		    					</div>
		    				</div>
		    			</div>
						<% } %>
						<% }); %>
		    		</div>
					<div class="row mt-5">
						<div class="col text-center">
						  <div class="block-27">
							<ul>
							  <% if (currentPage > 1) { %>
								<li><a href="/products?page=<%= currentPage - 1 %>&gender=<%= gender %>&priceFrom=<%= priceFrom %>&priceTo=<%= priceTo %>&searchQuery=<%= searchQuery %>">&lt;</a></li>
							  <% } %>
							  <% for (let i = 1; i <= totalPages; i++) { %>
								<li class="<%= i === currentPage ? 'active' : '' %>">
								  <a href="/products?page=<%= i %>&gender=<%= gender %>&priceFrom=<%= priceFrom %>&priceTo=<%= priceTo %>&searchQuery=<%= searchQuery %>"><span><%= i %></span></a>
								</li>
							  <% } %>
							  <% if (currentPage < totalPages) { %>
								<li><a href="/products?page=<%= currentPage + 1 %>&gender=<%= gender %>&priceFrom=<%= priceFrom %>&priceTo=<%= priceTo %>&searchQuery=<%= searchQuery %>">&gt;</a></li>
							  <% } %>
							</ul>
						  </div>
						</div>
					  </div>
					  
		    	</div>

		    	<div class="col-md-4 col-lg-2">
		    		<div class="sidebar">
							<div class="sidebar-box-2">
								<h2 class="heading">Categories</h2>
								<div class="fancy-collapse-panel">
									<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingTwo">
												<h4 class="panel-title">
													<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Shoes Categories
													</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
												<div class="panel-body">
													<% categories.forEach(category => { %>
														<% if (category.isActive) { %>
															<ul>
																<li><a href="/products?categoryId=<%= category._id %>&gender=<%= gender %>"><%= category.categoryName %></a></li>
															</ul>
														<% } %>
													<% }); %>
												</div>												
											</div>
										</div>
									 </div>
                                </div>
							</div>
							<div class="sidebar-box-2">
							<h2 class="heading">Price Range</h2>
							<form method="get" id="price-filter-form" class="colorlib-form-2">
		              <div class="row">
		                <div class="col-md-12">
							<div class="form-group">
							  <label for="priceFrom">Price from:</label>
							  <div class="form-field">
								<i class="icon icon-arrow-down3"></i>
								<select name="priceFrom" id="priceFrom" class="form-control">
								  <option value=""></option>
								  <option value="100">100</option>
								  <option value="200">200</option>
								  <option value="300">300</option>
								  <option value="400">400</option>
								  <option value="1000">1000</option>
								</select>
							  </div>
							</div>
						  </div>
						  <div class="col-md-12">
							<div class="form-group">
							  <label for="priceTo">Price to:</label>
							  <div class="form-field">
								<i class="icon icon-arrow-down3"></i>
								<select name="priceTo" id="priceTo" class="form-control">
								  <option value=""></option>
								  <option value="2000">2000</option>
								  <option value="3000">3000</option>
								  <option value="4000">4000</option>
								  <option value="5000">5000</option>
								  <option value="6000">6000</option>
								</select>
							  </div>
							</div>
						  </div>
						  <div class="col-md-12">
							<div class="form-group">
								<button type="button" id="filterButton" class="btn btn-dark btn-block">APPLY</button>
							</div>
						</div>
		              </div>
		            </form>
							</div>
						</div>
    			</div>
    		</div>
    	</div>
    </section>
		

	<!-- Include SweetAlert from CDN -->
  
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
  

         // Add an event listener to the "Filter" button
    const filterButton = document.getElementById('filterButton');
    filterButton.addEventListener('click', filterProducts);

    // Function to handle the filtering logic
    function filterProducts() {
        const priceFromSelect = document.getElementById('priceFrom');
        const priceToSelect = document.getElementById('priceTo');

        const priceFrom = priceFromSelect.value;
        const priceTo = priceToSelect.value;

        // Redirect to the filtered products page with the selected price range
        window.location.href = `/products?priceFrom=${priceFrom}&priceTo=${priceTo}&gender=<%= gender %>`;
    }

    //to add the product to the cart
	async function addToCart(productId){
		await fetch(`/addcart/${productId}`).then(res=>res.json()).then(data=>{
			if(data.data=='Product added to the cart successfully'){
				Swal.fire({
				icon:'success',
				title:'Product added to cart successfully',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}else if(data.data=='Already added this product to cart'){
                Swal.fire({
				icon:'warning',
				title:'Already added this product to cart',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}else if(data.data='Product is out of stock'){
				Swal.fire({
				icon:'warning',
				title:'Product is out of stock',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}
		})
	}

	//add the product to the wishlist
	async function addToWishlist(productId){
		await fetch(`/addwishlist/${productId}`).then(res=>res.json()).then(data=>{
			if(data.data=='Product added to the wishlist successfully'){
				Swal.fire({
				icon:'success',
				title:'Product added to wishlist successfully',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}else if(data.data=='Already added this product to wishlist'){
                Swal.fire({
				icon:'warning',
				title:'Already added this product to wishlist',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}else if(data.data=='Product is out of stock'){
                Swal.fire({
				icon:'warning',
				title:'Product is out of stock',
				showConfirmButton: false,
				timer:2000,
				position: 'top'
				})
			}
		})
	}


	</script>
	  


    <%- include('../partials/homefooter.ejs') %>